// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#include "winres.h"
/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_MAIN DIALOGEX 0, 0, 216, DIALOGH  // dimensions release

STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU
CAPTION "ExtIO_sddc.dll ver:1.4"
FONT 8, "Ms Shell Dlg", 0, 0, 0x0
BEGIN
        CONTROL "ANT  BiasT", -1, STATIC, SS_LEFT, 2, 2, 50, 12
        GROUPBOX "", IDC_STATIC, 6, 10, 12, 2
        GROUPBOX "", IDC_STATIC, 11, 10, 1, 22
        GROUPBOX "", IDC_STATIC, 12, 30, 32, 2
        GROUPBOX "", IDC_STATIC, 44, 6, 34, 48
        CONTROL "ATT", -1, STATIC, SS_LEFT , 52, 17, 24, 10
        CONTROL "LPF", -1, STATIC, SS_LEFT , 52, 29, 24, 10
        CONTROL "LNA", -1, STATIC, SS_LEFT , 52, 41, 24, 10
   
        GROUPBOX "", IDC_STATIC,   78, 30, 8, 2 // ---
        GROUPBOX "", IDC_STATIC, 85, 6, 65, 48 // ADC
        CONTROL "ADC", -1, STATIC, SS_LEFT, 108, 28, 18, 8

        PUSHBUTTON  "USB", IDC_USBOUT, 188, 27, 24,10, WS_EX_STATICEDGE | WS_TABSTOP

        GROUPBOX "", IDC_STATIC, 6, 68, 74, 22
        PUSHBUTTON  " 00", IDC_GAINCORR, 7, 72, 16, 16, WS_EX_STATICEDGE
        PUSHBUTTON  "+", IDC_GAINP, 24, 72, 8, 8, WS_EX_STATICEDGE | WS_TABSTOP
        PUSHBUTTON  "-", IDC_GAINM, 24, 80, 8, 8, WS_EX_STATICEDGE | WS_TABSTOP
        CONTROL "dB gain corr.", -1, STATIC, SS_LEFT, 36, 76, 40, 10
    
        GROUPBOX "", IDC_STATIC,84, 68, 125, 22
        PUSHBUTTON  "-000.000", IDC_FREQ, 85, 72, 34, 16, WS_EX_STATICEDGE
        PUSHBUTTON  "+", IDC_FREQP, 120, 72, 8, 8, WS_EX_STATICEDGE | WS_TABSTOP
        PUSHBUTTON  "-", IDC_FREQM, 120, 80, 8, 8, WS_EX_STATICEDGE | WS_TABSTOP
        CONTROL "ppm freq corr.", -1, STATIC, SS_LEFT, 132, 76, 60, 10
        PUSHBUTTON  "restart", IDC_RESTART, 176, 72, 32, 16, WS_TABSTOP

        GROUPBOX "", IDC_STATIC, 149, 30, 10, 2 // ADC---FX3
        GROUPBOX "", IDC_STATIC, 159, 6, 24, 48 // FX3
        CONTROL "FX3", -1, STATIC, SS_LEFT, 165, 28, 16, 8
        GROUPBOX "", IDC_STATIC, 184, 30, 4, 2  // FX3---

        CONTROL "Dither", IDC_DITHER, "Button", BS_AUTOCHECKBOX | WS_TABSTOP , 88, 40, 30, 10
        CONTROL "Rand", IDC_RAND, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 120, 40, 28, 10

        CONTROL "VHF", IDC_BIAS_VHF, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,15, 16, 25, 10
        CONTROL "HF", IDC_BIAS_HF, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 15, 40, 25, 10

        CONTROL "LO finetune", IDC_FINE_LO, "Button", BS_AUTOCHECKBOX | WS_TABSTOP, 10, 60, 50, 10

        GROUPBOX "DEBUG", IDC_STATIC, 6, 100, 202, 64
        CONTROL "ADC rate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 86, 110, 39, 10
        CONTROL "measured ", IDC_STATIC13, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 120, 110, 86, 10
        CONTROL "USB rate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 86, 120, 39, 10
        CONTROL "offline ", IDC_STATIC14, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 120, 120, 86, 10
        CONTROL "I&&Q rate:", -1, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 86, 130, 42, 10
        CONTROL "offline  ", IDC_STATIC16, STATIC, SS_LEFT | WS_CHILD | WS_VISIBLE | WS_GROUP, 120, 130, 86, 10

//      CONTROL "Trace", IDC_TRACE, "Button", BS_AUTOCHECKBOX | WS_TABSTOP,      10, 110, 34, 10

        PUSHBUTTON  "Save ADC samples", IDC_ADCSAMPLES, 10, 144, 64, 10, BS_FLAT

END


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             ".\\manifest.xml"


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_DLG_MAIN AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// Dialog Info
//

IDD_DLG_MAIN DLGINIT
BEGIN
END

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP2             BITMAP                  "CONNECTING.bmp"

/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDB_ICON1               ICON                    "ExtIO_sddc.ico"

/////////////////////////////////////////////////////////////////////////////
//
// Binary of HF103 firmware
//

RES_BIN_FIRMWARE        RCDATA                  "SDDC_FX3.img"

#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//
/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

