// Microsoft Visual C++ generated resource script.
//
#include "resource.h"

#include "winres.h"
/////////////////////////////////////////////////////////////////////////////
// Neutral resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_NEU)
LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL
#pragma code_page(936)

/////////////////////////////////////////////////////////////////////////////
//
// Dialog
//

IDD_DLG_MAIN DIALOGEX 0, 0, 216, DIALOGH
STYLE DS_SETFONT | WS_CAPTION | WS_SYSMENU
CAPTION "ExtIO_sddc.dll ver:1.4"
FONT 8, "Ms Shell Dlg", 0, 0, 0x0
BEGIN
    LTEXT           "ANT  BiasT",IDC_STATIC,2,2,50,12,NOT WS_GROUP
    GROUPBOX        "",IDC_STATIC,6,10,12,2
    GROUPBOX        "",IDC_STATIC,11,10,1,22
    GROUPBOX        "",IDC_STATIC,12,30,32,2
    GROUPBOX        "",IDC_STATIC,78,6,34,48
    LTEXT           "Mixer",IDC_STATIC,86,16,24,10,NOT WS_GROUP
    GROUPBOX        "",IDC_STATIC,148,6,40,48
    LTEXT           "ADC",IDC_STATIC,161,12,18,8,NOT WS_GROUP
    GROUPBOX        "",IDC_STATIC,20,67,74,22
    PUSHBUTTON      "-00",IDC_GAINCORR,21,71,16,16,WS_GROUP
    PUSHBUTTON      "+",IDC_GAINP,38,71,8,8,WS_GROUP
    PUSHBUTTON      "-",IDC_GAINM,38,79,8,8,WS_GROUP
    LTEXT           "dB gain corr.",IDC_STATIC,50,75,42,10,NOT WS_GROUP
    GROUPBOX        "",IDC_STATIC,106,67,107,22
    PUSHBUTTON      "-000",IDC_FREQ,111,71,20,16,WS_GROUP
    PUSHBUTTON      "+",IDC_FREQP,132,71,8,8,WS_GROUP
    PUSHBUTTON      "-",IDC_FREQM,132,79,8,8,WS_GROUP
    LTEXT           "ppm freq corr.",IDC_STATIC,144,75,50,10,NOT WS_GROUP
    GROUPBOX        "",IDC_STATIC,191,6,24,48
    LTEXT           "FX3",IDC_STATIC,197,28,16,8,NOT WS_GROUP
    GROUPBOX        "",IDC_STATIC,188,30,4,2
    CONTROL         "Dither",IDC_DITHER,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,152,23,30,10
    CONTROL         "Rand",IDC_RAND,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,152,40,28,10
    CONTROL         "VHF",IDC_BIAS_VHF,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,16,25,10
    CONTROL         "HF",IDC_BIAS_HF,"Button",BS_AUTOCHECKBOX | WS_TABSTOP,15,40,25,10
    GROUPBOX        "DEBUG",IDC_STATIC,6,100,202,64
    LTEXT           "ADC rate:",IDC_STATIC,87,107,39,10
    LTEXT           "measured ",IDC_STATIC13,121,107,86,10
    LTEXT           "USB rate:",IDC_STATIC,87,117,39,10
    LTEXT           "offline ",IDC_STATIC14,121,117,86,10
    LTEXT           "I&&Q rate:",IDC_STATIC,87,127,42,10
    LTEXT           "offline  ",IDC_STATIC16,121,127,86,10
    PUSHBUTTON      "Save ADC samples",IDC_ADCSAMPLES,10,144,64,10,BS_FLAT
    PUSHBUTTON      "-00",IDC_RFGAIN,48,24,16,16,WS_GROUP
    PUSHBUTTON      "+",IDC_RFGAINP,65,24,8,8,WS_GROUP
    PUSHBUTTON      "-",IDC_RFGAINM,65,32,8,8,WS_GROUP
    LTEXT           "dB RF",IDC_STATIC,50,42,22,10,NOT WS_GROUP
    PUSHBUTTON      "-00",IDC_IFGAIN,117,23,16,16,WS_GROUP
    PUSHBUTTON      "+",IDC_IFGAINP,134,23,8,8,WS_GROUP
    PUSHBUTTON      "-",IDC_IFGAINM,134,31,8,8,WS_GROUP
    LTEXT           "dB IF",IDC_STATIC,122,40,22,10,NOT WS_GROUP
    PUSHBUTTON      "Apply",IDC_RESTART,176,72,32,16
    COMBOBOX        IDC_BANDWIDTH,79,26,33,30,CBS_DROPDOWNLIST | CBS_SORT | CBS_UPPERCASE | WS_VSCROLL | WS_TABSTOP
    LTEXT           "BW",IDC_STATIC,90,40,17,10,NOT WS_GROUP
END


/////////////////////////////////////////////////////////////////////////////
//
// RT_MANIFEST
//

1                       RT_MANIFEST             ".\\manifest.xml"


/////////////////////////////////////////////////////////////////////////////
//
// AFX_DIALOG_LAYOUT
//

IDD_DLG_MAIN AFX_DIALOG_LAYOUT
BEGIN
    0
END


/////////////////////////////////////////////////////////////////////////////
//
// DESIGNINFO
//

#ifdef APSTUDIO_INVOKED
GUIDELINES DESIGNINFO
BEGIN
    IDD_DLG_MAIN, DIALOG
BEGIN
END
END
#endif    // APSTUDIO_INVOKED

#endif    // Neutral resources
/////////////////////////////////////////////////////////////////////////////


/////////////////////////////////////////////////////////////////////////////
// English (United States) resources

#if !defined(AFX_RESOURCE_DLL) || defined(AFX_TARG_ENU)
LANGUAGE LANG_ENGLISH, SUBLANG_ENGLISH_US
#pragma code_page(1252)

/////////////////////////////////////////////////////////////////////////////
//
// Bitmap
//

IDB_BITMAP2             BITMAP                  "CONNECTING.bmp"


/////////////////////////////////////////////////////////////////////////////
//
// Icon
//

// Icon with lowest ID value placed first to ensure application icon
// remains consistent on all systems.
IDB_ICON1               ICON                    "ExtIO_sddc.ico"


/////////////////////////////////////////////////////////////////////////////
//
// RCDATA
//

RES_BIN_FIRMWARE        RCDATA                  "SDDC_FX3.img"


#ifdef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// TEXTINCLUDE
//

1 TEXTINCLUDE 
BEGIN
    "resource.h\0"
END

2 TEXTINCLUDE 
BEGIN
    "\0"
END

3 TEXTINCLUDE 
BEGIN
    "\r\n"
    "\0"
END

#endif    // APSTUDIO_INVOKED

#endif    // English (United States) resources
/////////////////////////////////////////////////////////////////////////////



#ifndef APSTUDIO_INVOKED
/////////////////////////////////////////////////////////////////////////////
//
// Generated from the TEXTINCLUDE 3 resource.
//


/////////////////////////////////////////////////////////////////////////////
#endif    // not APSTUDIO_INVOKED

